.box{
    width: 200px;
    height: 200px;
    background-color: black;
    color: white;
    transition: 3s;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/BMW.svg/1200px-BMW.svg.png);
    background-position: center;
    background-size: cover;
}
.box:hover{
    transform: rotate(30deg);
    background-color: red;
    font-size: 100px;
    border-radius: 50%;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcScQwCx9_QnMGqLR0kf64RsEohDdLb1C4DubRtddbETLgCEh8RhftBDwHR7NShhV9iHjoM&usqp=CAU);
}